<mat-toolbar color="primary" class="mapper-toolbar">
  <button mat-icon-button routerLink="/workflow" matTooltip="Back to Workflow">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span class="toolbar-title">
        <mat-icon>settings_input_component</mat-icon>
        <span *ngIf="currentMapper">
          {{ currentMapper.name }}
          <small class="version-badge">v{{ currentMapper.version }}</small>
        </span>
        <span *ngIf="!currentMapper">Mapper Builder</span>
      </span>

  <span class="toolbar-spacer"></span>

  <!-- Status Indicators -->
  <div class="status-indicators">
    <mat-icon
      *ngIf="isDirty"
      class="status-icon unsaved"
      matTooltip="You have unsaved changes">
      edit
    </mat-icon>

    <mat-icon
      *ngIf="currentMapper?.active_ind"
      class="status-icon active"
      matTooltip="Mapper is active">
      check_circle
    </mat-icon>

    <mat-icon
      *ngIf="currentMapper && !currentMapper.active_ind"
      class="status-icon inactive"
      matTooltip="Mapper is inactive">
      pause_circle
    </mat-icon>
  </div>

  <mat-divider vertical></mat-divider>

  <!-- Main Actions -->
  <button mat-button (click)="newMapper.emit()" class="toolbar-action">
    <mat-icon>add</mat-icon>
    New
  </button>

  <button mat-button (click)="loadMapper.emit()" class="toolbar-action">
    <mat-icon>folder_open</mat-icon>
    Load
  </button>

  <button
    mat-button
    (click)="saveMapper.emit()"
    [disabled]="!isDirty || isLoading"
    class="toolbar-action">
    <mat-icon>save</mat-icon>
    Save
  </button>

  <!-- More Options -->
  <button mat-icon-button [matMenuTriggerFor]="moreMenu" matTooltip="More options">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #moreMenu="matMenu">
    <button mat-menu-item (click)="exportMapper.emit()">
      <mat-icon>download</mat-icon>
      <span>Export Mapper</span>
    </button>
    <button mat-menu-item (click)="importMapper.emit()">
      <mat-icon>upload</mat-icon>
      <span>Import Mapper</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="duplicateMapper()">
      <mat-icon>content_copy</mat-icon>
      <span>Duplicate Mapper</span>
    </button>
    <button mat-menu-item (click)="viewHistory()">
      <mat-icon>history</mat-icon>
      <span>View History</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="viewDocumentation()">
      <mat-icon>help</mat-icon>
      <span>Documentation</span>
    </button>
    <button mat-menu-item (click)="viewKeyboardShortcuts()">
      <mat-icon>keyboard</mat-icon>
      <span>Keyboard Shortcuts</span>
    </button>
  </mat-menu>
</mat-toolbar>
